.one{
  
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #495773;
    display: flex;
 
    margin-top: 50px;
}
.two{
    margin-left: 600px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #495773;
    display: flex;
    letter-spacing: 4px;
    margin-top: 50px
}
.three{
    margin-left: 520px;
    font-weight: 400;
    text-transform: uppercase;
    color: #495773;
    display: flex;
    margin-top: 20px

  
}
.four{
    margin-left: 99px;
}
.Five{
    margin-left: 520px;
    font-weight: 400;
    text-transform: uppercase;
    color: #495773;
    display: flex;
}
.six{
    margin-left: 211px;
}
.seven{
    margin-left: 205px;
}
.eight{
    margin-left: 178px;
    
}
.Nine{
    margin-left: 85px;
}
.ten{
    margin-left: 208px;
}
.eleven{
    margin-left: 202px;

}
.Side{
    margin-left: 10.5rem;
}
.fa-solid{
    margin-top: 4px;
    margin-left: 5px;
    color:#ffc107;

}