.one{
  
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #495773;
    display: flex;
 
    margin-top: 50px;
}
.two{
    margin-left: 200px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #495773;
    display: flex;
    letter-spacing: 4px;
    margin-top: 50px
}
.three{
    margin-left: 100px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    margin-top: 20px

  
}
.four{
    margin-left: 100px;
}
.Five{
    margin-left: 100px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
}
.six{
    margin-left: 211px;
}
.seven{
    margin-left: 206px;
}
.eight{
    margin-left: 180px;
    
}
.Nine{
    margin-left: 85px;
}
.ten{
    margin-left: 210px;
}
.eleven{
    margin-left: 205px;
}
.Side{
    margin-left: 170px;
}
.fa-solid{
    margin-top: 4px;
    margin-left: 5px;
    color:#ffc107;

}